@use "../abstracts" as *;

footer {
  background-color: #740a91;
  color: $secondary-color;
  padding: 20px 10px;
  text-align: center;
  position: relative;

  .hidden {
    display: none;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .footer-logo {
    width: 70px;
    height: auto;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;

    a {
      color: #c9bec9;
      font-size: 0.8rem;
      transition: color 0.3s ease;

      &:hover {
        color: white;
      }
    }
  }

  p {
    font-size: 8px;
    line-height: 1.3;
    max-width: 600px;
  }

  // Tablet
  @media screen and (min-width: 768px) {
    padding: 30px 20px;

    .footer-logo {
      width: 90px;
    }

    .social-icons a {
      font-size: 0.8rem;
    }

    p {
      font-size: 10px;
    }
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    padding: 30px 40px;

    .footer-logo {
      width: 90px;
    }

    .social-icons a {
      font-size: 1rem;
    }

    p {
      font-size: 12px;
    }
  }
}
