
@use "../abstracts";

body {
  font-family: abstracts.$body-font-family;
}

h1,
h2 {
  font-family: abstracts.$heading-font-family;
}

h1 {
  font-size: 25px;
  color: abstracts.$body-text-color;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 8px;
}

h2 {
  font-size: 20px;
  color: abstracts.$body-text-color;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: 8px;
}

p {
  font-size: 15px;
  line-height: 24px;
  color: abstracts.$body-text-color;
  margin-bottom: 20px;
}

/*Tablet*/

@media screen and (min-width: 768px) {
   
h1 {
  font-size: 35px;
  color: abstracts.$body-text-color;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

h2 {
  font-size: 25px;
  color: abstracts.$body-text-color;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 8px;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: abstracts.$body-text-color;
  margin-bottom: 20px;
}

}

/*Desktop*/

@media screen and (min-width: 1200px) {
   
h1 {
  font-size: 40px;
  color: abstracts.$body-text-color;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

h2 {
  font-size: 25px;
  color: abstracts.$body-text-color;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 8px;
}

p {
  font-size: 20px;
  line-height: 24px;
  color: abstracts.$body-text-color;
  margin-bottom: 20px;
}

}